@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: hsl(233, 47%, 7%);
    text-align: center;
    color: #fff;
    justify-items: center;

    display: grid;
    grid-template-columns: 1.7rem auto 1.7rem;
    grid-template-rows: 5.6rem auto 5.6rem;
}

#card, #attribution {
    grid-column: 2 / 3;
}

#card {
    grid-row: 2 / 3;
    width: 100%;
    max-width: 600px;
    background: hsl(244, 38%, 16%);
    border-radius: 6px;
    align-items: center;

    display: flex;
    flex-direction: column;
}

#attribution {
    font-size: 11px; 
    grid-row: 3 / 4;
    align-self: center;
    padding: 2rem 0;
}

#attribution a { 
    color: hsl(277, 64%, 61%); 
}

#header_container {
    width: 100%;
    max-width: 600px;
    background: hsl(277, 64%, 61%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.highlight {
    color: hsl(277, 64%, 61%);
}

#header_mobile {
    width: 100%;
    max-width: 600px;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 70%;
}

#header_desktop {
    display: none;
}

#main_heading {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    line-height: 2.05rem;
}

#main_p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.55rem;
    margin-top: -0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#main_container {
    margin: 0.95rem 1.7rem 0;
    max-width: 600px;
}

#footer_container {
    margin: 0.85rem 2rem 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.stat_heading {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
}

.stat_text {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.77rem;
    text-transform: uppercase;
}

#stat_1, #stat_2, #stat_3 {
    line-height: 0.62rem;
}

#stat_2, #stat_3 {
    margin-top: 0.5rem;
    text-transform: uppercase;
}

@media (min-width: 1000px) {

    #card, #header_container, #main_container, #footer_container {
        max-width: 100%;
    }

    #header_mobile {
        display: none;
    }

    #header_desktop {
        display: block;
        mix-blend-mode: multiply;
        opacity: 75%;
    }

    #header_desktop_container {
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow-x: hidden;
        width: 100%;
    }

    body {
        grid-template-columns: 2rem auto 2rem;
        grid-template-rows: 10rem auto 10rem;
    }

    #card {
        margin-top: 1rem;
        height: 446px;
        max-width: 1110px;
        display: grid;
        grid-template-columns: 1fr min(50%, 540px);
        grid-template-rows: auto auto;
    }

    #header_container {
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        border-radius: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin: 0;
    }

    #main_container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
    }

    #footer_container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        flex-direction: row;
        justify-content: start;
    }
    
    #stat_1, #stat_2, #stat_3 {
        margin: 0 1rem;
    }

    #stat_1 {
        margin-left: 0;
    }

}